// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  width: 80%;
  margin: 0 auto;
}

.table {
  background-color: green;
  height: 500px;
  width: 80%;
  border-radius: 50%;
  margin: 0 auto;
  border: 1em solid black;
}

.board {
  position: relative;
  top: 40%;
  left: 30%;
}

.player h3 {
  font-weight: bold;
  color: black;
  font-size: 2em;
}
#player-one {
  position: absolute;
  top: -200px;
}

#player-two {
  position: absolute;
  top: 100px;
}

.card-small {
  border: .2em solid black;
  border-radius: 10%;
  height: 80px;
  width: 56px; /*70% of height*/
  margin-right: 5px;
  float: left;
  background-color: white;
 }

.card-text {
  margin: 0;
  margin-top: 15%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
}

.card-img {
  text-align: center;
  margin: 0;
  font-size: 2em;
}

.red {
  color: red;
}

.black {
  color: black;
}

.winner {
  margin: 25px;
  font-size: 2em;
  font-weight: bold;
}
